@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
	ViewData["Title"] = "Acceuil";
}
<div class="acceuil">
	<div class="presentation">
		<div class="video-overlay"></div>
		<video autoplay loop muted playsinline id="video">
			<source src="/img/site/video-acceuil.mp4" type="video/mp4" />
		</video>
		
		<div class="white">
			<h1>
				Les Mauvais Joueurs<br>
				bars à jeux de société et boutique<br>
				au cœur de Paris
			</h1>
		</div>
		<div class="orange-left">
			<div>Bar à jeux Bastille 06.50.66.79.21</div>
			<div>Boutique de jeux Bastille 01.48.06.46.97</div>
			<div>Bar à jeux Austerlitz 06.45.29.30.93</div>
		</div>
		<div class="orange-right">
			<p>46 rue Sedaine, 75011, Paris</p>
			<p>63 rue Sedaine, 75011, Paris</p>
			<p>12 boulevard Vincent Auriol, 75013, PARIS</p>
		</div>
	</div>
	
	<div class="concept">
		<h2>le concept</h2>
		<p>La formule est simple : pour un prix de 5€ par personne et une 
			consommation à renouveler toutes les 2h, vous avez accès à plusieurs centaines de jeux en 
			libre-service et en illimité.</p>
		<p>Le petit plus ? Nos bars sont tous munis de la Licence IV.
			Pas besoin de commander à manger pour pouvoir profiter d'un verre !</p>
	</div>
	<div class ="repaire">
		<h2>
			un repaire ludique
		</h2>
		<p>Venez vous retrouver dans un cadre chaleureux autour d’un jeu, parmi plusieurs centaines disponibles.</p>
		<p>
			Débutant ? Retrouvez vos classiques (Monopoly, Uno, Trivial Pursuit…).
			Joueur aguerri ? La ludothèque évolue sans cesse ! Vous ne raterez jamais le dernier jeu du moment !
		</p>
		<p>
			Des animations vous sont également proposées tout au long de l'année (soirées Loups-Garous, quiz, jeu de rôle, etc...).
		</p>
		<img id="img1" src="~/img/site/bar-2-lowres.jpg"/>
		<img id="img2" src="~/img/site/boutique_aus.jpg" />
	</div>
	<div class="bar">
		<h2>mais aussi un bar</h2>
		<p>
			Le bar n'est pas en reste. Vous pourrez notamment y retrouver une sélection variée de bières artisanales et une carte de cocktails originaux - avec ou sans alcool.
		</p>
		<p>Côté nourriture, vous pourrez partager différentes planches de produits artisanaux : charcuterie du Cantal, fromages d'Auvergne mais aussi des tartinades végétariennes.</p>
		<p>Aux Mauvais Joueurs Austerlitz, retrouvez notre offre de restauration chaude, avec pizzas et burgers maison !</p>

		<img id="img3" src="~/img/site/bar-lowres.jpg" /> 
		 <img id="img4" src="~/img/site/games-lowres.jpg" />
	</div>



</div>