@model Utilisateur

<div class="inscription">
	<script src="~/js/eye.js" defer asp-append-version="true"></script>
	<!-- Affichage des messages d'erreur ou de succès -->
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">
			@TempData["ErrorMessage"]
		</div>
	}

	<form asp-controller="Access" asp-action="SignUp" method="post">
		<h1 class="fusion">Inscription</h1>
			<label asp-for="nom"></label>
			<input asp-for="nom" class="form-control" />
			<span asp-validation-for="nom" class="text-danger"></span>

			<label asp-for="pseudo"></label>
			<input asp-for="pseudo" class="form-control" />
			<span asp-validation-for="pseudo" class="text-danger"></span>

			<label asp-for="email"></label>
			<input asp-for="email" class="form-control" />
			<span asp-validation-for="email" class="text-danger"></span>

			<label asp-for="motdePasse"></label>
			<div id="div-eye">
				<input id="Utilisateur_motdePasse" asp-for="motdePasse" type="password" class="form-control" />
				
				<img src="~/img/site/oeil.png" alt="" id="eye">
			</div>
		<span asp-validation-for="motdePasse" class="text-danger"></span>

			<label asp-for="Telephone"></label>
			<input asp-for="Telephone" class="form-control" />
			<span asp-validation-for="Telephone" class="text-danger"></span>
			<div></div>

		<button type="submit">S'inscrire</button>
	</form>
	<button><a asp-controller="Access" asp-action="index">retour</a></button>
	<div>
		<span asp-validation-summary="All" class="text-danger"></span>
	</div>
</div>




