
@{
	ViewData["Title"] = "verification email";
}

<div class="simple" >
	<div class="white">
<p>Un email de verification vous a été envoyé à l'adresse indiquée lors de votre inscription. Veuillez cliquer sur le liens de l'email 
	pour activer votre compte.
</p>
<a asp-controller="Access" asp-action="Index">retour à la page de connexion</a>
	</div>
</div>