
@{
	ViewData["Title"] = "verification email";
}
<div class="simple">
	<div class="white">
<p>Email verifier !!</p>
<a asp-controller ="Access" asp-action="Index">retour à la page de connexion</a>
	</div>
</div>