
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
	<link rel="stylesheet" href="~/css/LayoutSite.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
	<header>
		<div class="top-header">
			<img src="~/img/site/webclip-Photoroom.png" alt="logo" id="logo">
			<nav>
				<a asp-controller="PagePrincipal" asp-action="Catalogue">Catalogue de jeu</a>
				<a asp-controller="PagePrincipal" asp-action="Reservation">Reservation</a>
				<a asp-controller="PagePrincipal" asp-action="Gestion">gestion catalogue de jeu</a>
			</nav>
		</div>
		@if (ViewBag.page == "index")
		{
			<div classe="presentation">
				<div class="white">
					<p>Les Mauvais Joueurs</p>
					<p>bars à jeux de société et boutique</p>
					<p>au cœur de Paris</p>
				</div>
				<div class="orange">
					<div>Bar à jeux Bastille</div>
					<div>06.50.66.79.21</div>
					<div>Boutique de jeux Bastille</div>
					<div>01.48.06.46.97</div>
					<div>Bar à jeux Austerlitz</div>
					<div>06.45.29.30.93</div>
				</div>
				<div class="orange">
					<p>46 rue Sedaine, 75011, Paris</p>
					<p>63 rue Sedaine, 75011, Pa</p>
					<p>12 boulevard Vincent Auriol, 75013, PARIS</p>
				</div>
			</div>

		}
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
		&copy; 2025 - WebApplication1 - <a asp-controller="Home" asp-action="Contact">Contact</a> -
		<a asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-controller="Home" asp-action="Legal">Légal</a>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
