
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
	<link rel="stylesheet" href="~/css/LayoutSite.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	

</head>
<body>
	<header>
		<div class="top-header">
			<a asp-controller="Acceuil" asp-action="Index"><img src="~/img/site/webclip-Photoroom.png" alt="logo" id="logo"></a>
			<h1>LES MAUVAIS JOUEURS</h1>

			<div></div>
			<nav class="lien">
				<a asp-controller="Catalogue" asp-action="index">Catalogue de jeu</a>
				@if (User.IsInRole("Admin"))
				{
					<a asp-controller="Catalogue" asp-action="Nouveau">Nouveau</a>

				}
				@{
					var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
					var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
				}
				@if (currentController == "Catalogue" && currentAction == "index")
				{
					<form id="formRecherche">
						<input id="inputJeu" type="text" placeholder="Nom du jeu…">
						
					</form>
					<div id="affichageRecherche"></div>
				}

				@if (User.Identity.IsAuthenticated)
				{
					<a asp-controller="Access" asp-action="SignOut">Se déconnecter</a>

				}
				
			</nav>
		</div>

	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
		<a href="https://www.instagram.com/les_mauvais_joueurs/"><img class="logo" src="~/img/site/instagram-1.png" alt="Alternate Text" /></a>
		<a href="https://www.facebook.com/pages/category/Bar/Les-Mauvais-Joueurs-318871245274187/"><img class="logo" src="~/img/site/facebook1.png" alt="Alternate Text" /></a>
		&copy; 2025 - WebApplication1 - <a asp-controller="Pieds" asp-action="Contact">Contact</a> -
		<a asp-controller="Pieds" asp-action="Privacy">Privacy</a> - <a asp-controller="Pieds" asp-action="Index">Légal</a>

	</footer>
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/recherche.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
