@model List<Jeux>
@{
	ViewData["Title"] = "Login";
}
<div class="index">
	<script src="./js/slide.js" defer></script>
	
	<div id="se_loguer">
	<form action="" >
		<label for="login">Pseudo :</label>
		<div class="div-eye">
			<input type="text" name="login" id="login">
		</div>
		<br>

		<label for="psw">Mot de passe :</label>
		<div class="div-eye">
			<input type="password" name="psw" id="psw">
			<img src="./img/site/oeil.png" alt="" id="eye">
		</div>

		<hr>
		<p>ou <a asp-controller="Connection" asp-action="Inscription">s'inscrire</a></p>

	</form>
	</div>
	<aside id="top">
		<h2>jeu au top</h2>
		<div class="white">
			@foreach (var jeux in @Model!)
			{
				<img class="slide" src="/img/jeu/@(jeux.image)">
			}
		</div>
		<button class="fleche-gauche" onclick="plusDivs(-1)">&#10094;</button>
		<button class="fleche-droite" onclick="plusDivs(+1)">&#10095;</button>
	</aside>
</div>

