* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
    z-index: 5; /* Assurez-vous que c'est inférieur à celui de #affichageRecherche */
}

nav a {
    text-transform: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#bloc {
   
    position: fixed;
    right: 0vw;
    top: 7vh;
    width: 10vw;
    height:20vh;
    display: none;
    flex-direction: column;
    justify-content:center;
    background-color: antiquewhite;
    padding: 1em;
    
}

.top-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
    
}

#logo {
    height: 10vh;
    
    
}

footer {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
    background-color: #19515d;
    color:azure;
}
    footer a {
        text-decoration: none;
        color: azure;
    }
    footer .logo{
        height:2em;
        width:2em;
    }
#affichageRecherche {
    position: fixed;
    display: none;
    flex-direction:column;
    height: 22vh;
    width: 15vw;
    top: 6vh;
    right: 3vw;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    border: 2px solid blue;
    pointer-events: auto;
    overflow-y:scroll;
}
#menu {
    height: 3em;
    
}
#menuheader {
    display: flex;
    flex-direction: row;
    width: 10vh;
    align-items:center;
}
#bloc.actif, #affichageRecherche.actif {
    display: flex;
    
}
