* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
}
nav a{
    text-transform:none;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav  {
    display:flex;
    ]

}

.top-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
    
}

#logo {
    height: 10vh;
}

footer {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
}