* {
    margin: 0;
    padding: 0;
}

body {
    background-size: 100% 100vh;
    background-image: url('../img/site/img-boutique.jpg');
    background-repeat: no-repeat;
    z-index: -1;
    box-sizing: border-box;
}

footer {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
}

main {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 85vh;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    height: 10vh;
}

h1 {
    padding: 5%;
    text-align: center;
}

@media (min-width: 600px) {
    h1 {
        padding: 0;
    }

    footer {
        justify-content: end;
    }
}