* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color:#fffff0;
}

nav a {
    text-transform: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.lien {
    position:fixed;
    right : 5vw;
    width: 33vw;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
}

#logo {
    height: 10vh;
}

footer {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2em;
    background-color: #19515d;
    color:azure;
}
    footer a {
        text-decoration: none;
        color: azure;
    }
    footer .logo{
        height:2em;
        width:2em;
    }
#affichageRecherche{
    position:fixed;
    display:block;
    height:10vh;
    width:10vw;
    top:10vh;
    right:10vw;
    background-color:rgba(0,0,0,1);
    z-index:2;
    

}