html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*page index*/
#index {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    overflow: hidden;
}

    #index h1 {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 8%;
    }

    #index form h2,
    #index form div,
    #index form p {
        text-align: center;
    }

    #index #se_loguer,
    #index #top {
        background-color: rgb(255, 255, 255, 0.7);
        width: 60%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }

    #index #se_loguer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 40%;
        margin-top: -21vh;
        padding-top: 3vh;
    }

    #index .start {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    #index [type] {
        border-radius: 10px;
        width: 8em;
    }

    #index #top {
        width: 60vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        #index #top h2 {
            margin: 0%;
        }

    #index .fleche-droite {
        position: absolute;
        right: 22%;
        top: 70%;
        width: 1.5em;
    }

    #index .fleche-gauche {
        position: absolute;
        left: 22%;
        top: 70%;
        width: 1.5em;
    }

    #index #eye {
        width: 20%;
        height: 80%;
    }

    #index .div-eye {
        display: flex;
        align-items: center;
    }

    #index .slides {
        position: relative;
        height: 9vh;
        width: 9vw;
    }

    #index .container-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #index .slides {
        height: 10em;
        width: 12em;
    }


    #index .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        #index .active, #index .dot:hover {
            background-color: #717171;
        }

.fusion {
    grid-column-start: 1;
    grid-column-end: 3;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (min-width: 600px) {
    #index index {
        height: 100%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    #index #se_loguer {
        width: 36%;
        height: 32%;
        text-align: center;
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #index #top {
        width: 28%;
        height: 28%
    }

    #index .fleche-droite {
        right: 38%;
        width: 3em;
        top: 68%;
    }

    #index .fleche-gauche {
        left: 38%;
        width: 3em;
        top: 68%;
    }

    #index h1 {
        padding: 0;
    }

    #index footer {
        justify-content: right;
    }

    #index .slides {
        position: relative;
        height: 10em;
        width: 12em;
        ()
    }

    #index [type] {
        width: 17em;
    }

    #index #eye {
        width: 10%;
        height: 80%;
        position: absolute;
        height: 3em;
        width: 3em;
        right: 37%;
    }

    /*fin page index*/
}



/*page privacy*/
div.privacy {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    overflow: scroll;
    scroll-behavior: smooth;
}

    div.privacy button, div.privacy article {
        background-color: rgb(255, 255, 255, 0.7);
        width: 60%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }

    div.privacy article {
        margin: 1%;
        width: 90%;
    }

@media (min-width: 768px) {
    div.privacy button {
        width: 20%;
    }
}

/*fin page privacy*/

/*page inscription*/
div.inscription form {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 50% 50%;
    justify-content: end;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 1vh;
    height: 90%;
    width: 90%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    gap: 1%;
}

div.inscription {
    position: fixed;
    top: 10vh;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    div.inscription #div-eye {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    div.inscription #eye {
        width: 15%;
    }

    div.inscription label {
        justify-self: end;
    }

    div.inscription input {
        height: 1.2em;
        width: 70%;
    }

        div.inscription input[type="submit"] {
            grid-column: 1 / span 2;
            justify-self: center;
            width: 20%;
        }

        div.inscription input[type="file"] {
            display: none;
        }

    div.inscription label[for="pp"] {
        display: flex;
        align-items: center;
    }

    div.inscription img#img-profil {
        height: 50%;
    }

@media (min-width: 600px) {
    div .inscription #eye {
        width: 10%;
    }

    div.inscription form {
        width: 50%;
    }
}

/*fin page inscription */

/*page contact*/
div.contact {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1%;
}

    div.contact form {
        margin-top: 1%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        div.contact form .center {
            height: 112%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2%;
            width: 100%;
        }

        div.contact form .left {
            margin-top: 1%;
            height: 40%;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: repeat(4,1fr);
            gap: 2%;
            width: 97%;
        }

            div.contact form .left .padding {
                padding-left: 3em;
            }

    div.contact textarea {
        width: 98%;
        height: 37%;
    }

    div.contact input[type], div.contact select {
        height: 2.5em;
    }

    div.contact button {
        height: 2em;
        width: 5em;
    }

    div.contact input, div.contact textarea, div.contact form, div.contact select, div.contact button {
        background-color: rgb(255, 255, 255, 0.7);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }

    div.contact .left {
    }

@media (min-width: 600px) {
    div .contact form {
        width: 40%;
        /*faire du grid ici lol*/
    }
}
/*fin page contact*/

/*page acceuil*/

div.acceuil {
    height: 85vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    overflow-y: auto; /* scroll vertical seulement */
    overflow-x: hidden; /* empêche le scroll horizontal */
    box-sizing: border-box;
}
    div.acceuil .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0,0,0,0.6); /* Fond noir semi-transparent, adapte l’opacité */
        z-index: -1; /* Sous les textes, sur la vidéo */
        pointer-events: none; /* Pour ne pas gêner l’interaction du texte */
    }
        div .acceuil .presentation {
        position: relative; /* pour positionner les éléments enfants absolus */
        width: 100vw;
        height: 60vh;
        display: flex;
        box-sizing: border-box;
        overflow: hidden; /* coupe les débordements internes éventuels */

    }

    div.acceuil #video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* remplit tout en conservant le ratio */
        display: block;
        z-index: -2;
    }

    div.acceuil .white {
        position: absolute;
        left: 0;
        top: 10vh;
        width: 100vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        font-family: Cardeniomodern reg, sans-serif;
        font-weight: 400;
        line-height: 66px;
        box-sizing: border-box;
        font-size: 2em;
    }

    div.acceuil .orange-left {
        position: absolute;
        bottom: 0vh; /* espace du bas */
        left: 16px; /* espace du bord gauche */
        color: orange;
        z-index: 2;
        font-family: Cardeniomodern reg, sans-serif;
        font-weight: 800;
        line-height: 66px;
        font-size: 1.2em;
    }

    div.acceuil .orange-right {
        position: absolute;
        bottom: 0vh; /* espace du bas */
        right: 16px; /* espace du bord droit */
        color: orange;
        z-index: 2;
        font-family: Cardeniomodern reg, sans-serif;
        font-weight: 800;
        line-height: 66px;
        font-size:1.2em;
    }

    div.acceuil .concept {
        position: relative;
        width: 100vw;
        height: 60vh;
        box-sizing: border-box;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        padding-top: 3vh;
        padding-left: 3vw;
    }

    div.acceuil .repaire {
        position: relative;
        width: 100vw;
        height: 60vh;
        box-sizing: border-box;
        background-color: #19515d;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        padding-top: 3vh;
        padding-left: 3vw;
    }

    div.acceuil .bar {
        position: relative;
        width: 100vw;
        height: 60vh;
        box-sizing: border-box;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        padding-top:3vh;
        padding-left:3vw;
    }
#img1, #img2, #img3, #img4 {
    height: 30vh;
}


        /*fin page acceuil*/
        /* page catalogue*/
div .catalogue {
    height: 85vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    overflow-y: scroll;

    
}

    div.catalogue .liste-jeux {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
       
    }

    div.catalogue .game {
        height: 50vh;
        width: 100vW;
        border: 5px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    div.catalogue .image {
        height: 15vh;
        width: 15vh;
    }

    div.catalogue .description {
    }

    div.catalogue .description {
        overflow: hidden;
    }
 

/*fin page catalogue*/
/*détails*/
div.detail {
    height: 85vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    
    overflow: scroll;
    padding:3vh;
}

    div.detail .image {
        width: 50vh;
        height: 50vh;
    }

    div.detail .encadre {
        border: 1px double black;
    }

    div.detail li {
        list-style-type: none;
    }

    div.detail .centre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.detail .description {
        width: 40vw;
        height: 20vh;
    }


/*fin page détails*/
/*editer*/
div.editer {
    height: 85vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


/*fin editer*/
/*commentaire*/
div.commentaire {
    height: 85vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    display:flex;
    
    align-items:center;
    justify-content:center;
}
div.commentaire textarea{
    height:30vh;
    width: 60vh;

}
div.commentaire p{
    font-size:1.5em;
}
/*fin commentaire*/
