@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
	ViewData["Title"] = "Connexion";
}
<div class="acceuil">
	<div class="presentation">

		<video autoplay loop muted playsinline >
			<source src="/img/site/video-acceuil.mp4" type="video/mp4" />

		</video>
		<div class="white">
			<p>Les Mauvais Joueurs</p>
			<p>bars à jeux de société et boutique</p>
			<p>au cœur de Paris</p>
		</div>
		<div class="orange-left">
			<div>Bar à jeux Bastille</div>
			<div>06.50.66.79.21</div>
			<div>Boutique de jeux Bastille</div>
			<div>01.48.06.46.97</div>
			<div>Bar à jeux Austerlitz</div>
			<div>06.45.29.30.93</div>
		</div>
		<div class="orange-right">
			<p>46 rue Sedaine, 75011, Paris</p>
			<p>63 rue Sedaine, 75011, Pa</p>
			<p>12 boulevard Vincent Auriol, 75013, PARIS</p>
		</div>
	</div>



</div>