@using WebApplication1.ViewModels;
@model CatalogueViewModel;

<div class="catalogue">
	@{
		ViewData["Title"] = "Legal Policy";
	}
	@{
		Layout = "~/Views/Shared/_LayoutSite.cshtml";
	}
	@{
		int max = (int)ViewData["i"] + 5;
		int avant = (int)ViewData["i"] - 5;
		int apres = (int)ViewData["i"] + 6;
		int depart = (int)ViewData["i"];
		
		// Jeux.Sort((a, b) => a.titre.CompareTo(b.titre));
	}
	<form asp-controller="Catalogue" asp-action="Trie" asp method="post">
		@* <label for=""></label>
	<input type="radio" name="trie" value="" />	 *@
@* 		<input type="hidden" name="sort" value="nom" />
		<input type="submit" value="tri par nom" /> *@

		@* <label for=""></label>
	<input type="radio" name="trie" value="" />	 *@
@* 		<input type="hidden" name="sort" value="auteur" />
		<input type="submit" value="tri par auteurs" /> *@

		<label asp-for="SelectedType"></label>
		<select asp-for="SelectedType" asp-items="Model.ListTypes" ></select>
		

		<label asp-for="SelectedTheme"></label>
		<select asp-for="SelectedTheme" asp-items="Model.ListThemes" ></select>
		

		<label asp-for="SelectedJoueur"></label>
		<select asp-for="SelectedJoueur" asp-items="Model.ListJoueur"></select>
		

		<label asp-for="Selectedtemps"></label>
		<select asp-for="Selectedtemps" asp-items="Model.ListTemps"></select>
		<button type="submit">Valider</button>
	</form>

	<div class="liste-jeux">
		@for (var i = depart; i < max; i++)
		{
			try
			{
				<div class="game">
					<p class="titre">@Model.ListJeux[i].titre</p>
					<img class="image" src="~/img/jeu/@Model.ListJeux[i].image" alt="Alternate Text" />
					<p>Description</p>
					<p class="description">@Model.ListJeux[i].description</p>
					<a asp-controller="Catalogue" asp-action="Detail" asp-route-id=@Model.ListJeux[i].jeuid>Détail</a>
					<a asp-controller="Catalogue" asp-action="editer" asp-route-id=@Model.ListJeux[i].jeuid>éditer</a>
					<a asp-controller="Gestion" asp-action="supprimer" asp-route-id=@Model.ListJeux[i].jeuid>supprimer</a>
				</div>
			}
			catch { }

		}
		<div class="bar-button">
			@if (avant >= 1)
			{
				<button><a asp-controller="Catalogue" asp-action="Index" asp-route-i=@avant>avant</a></button>
			}
			else
			{
				<button>avant</button>
			}

			@if (max <= Math.Round(@Model.ListJeux.Count / 5.0, 1) * 5)
			{
				<button><a asp-controller="Catalogue" asp-action="Index" asp-route-i=@apres>suite</a></button>
			}
			else
			{
				<button>suite</button>
			}
		</div>

	</div>
</div>





